
article a { 
	color: #000;
	text-decoration: none;

}
* {
  margin: 0px;
  padding: 0px;
}

body {
  font: New Century Schoolbook;
  background-color: rgb(246, 255, 250);
}


header {
  background-image:url('veren.jpg'); 
  width: 100%;
  height: 250px;
  padding-top: 30px;
}

header h1 {
  font-size: 300%;
  font-family: New Century Schoolbook serif;
  color: #476b6b;
  text-align: center;
}

ul {
  background: #fff;
  padding: 10px;
}

ul li {
  background: #000;
  padding: 5px;
  border: solid 2px white;
  display: inline;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}
section {
  padding: 5px;
  border: double 4px black;
  
}

section article {
  border: 3px solid black;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

footer {
  background: rgb(246, 255, 250);
}

footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 1000px ;
}


a:link {
    color: 000; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: 000;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
	color: #000;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: 000;
    background-color: transparent;
    text-decoration: none;
}

p {
	border: rgb(69, 67, 106);
}

